extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Name", name="newName", type="text", required, value=loggedInUser.name)
        input(placeholder="Email", name="newEmail", type="email", required, value=loggedInUser.email)
        input(placeholder="Username", name="newUsername", type="text", required, value=loggedInUser.username)
        input(placeholder="Location", name="newLocation", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")